/* CSS Document */

*{ margin:0; padding:0; font-family:"微软雅黑"; font-size:15px}
.souye{ width:960px; height:80px; margin:0 auto;}
.souye a{ text-decoration:none; color:#333333
}
.souye li{display:inline-block; margin-left:40px; padding-right:5px}
.souye img{ margin-left:0px}
.souye li:hover{ color:#666; }
.souye ul{ margin-left:220px;  line-height:75px; display:inline-block}

.souye h2{ margin-left:-110px; position:absolute; top:48px}
#tup{ margin:0 auto; width:1200px; margin-top:-8px; height:560px; position:relative; overflow:hidden }
#tup li{ display:inline-block; }
#tup ul{position: absolute;left: 0px;top: 5px;
}
.cx{ margin: 0 auto; width:1200px; position:relative; margin-top:20px}
.cx p{
	position: absolute;
	left: 565px;
	z-index: 1;
	font-size: 17px;
	top: 80px;
	color:#093
}
.cx a{position: absolute;left: 460px;top: 3px;z-index: 1;}
.cx img{  position:absolute; top:20px}
#cx2 { width:1100px; margin:0 auto; position:relative; height:445px; margin-top:100px; }
.cx3 {width:980px;position:relative; height:500px; top:50px; color:#333333; overflow:hidden}
.cx3 p{ margin-left:15px}
.cx3 a{ text-decoration:none; color:#093; font-size:12px}
.cx3 span{ color:#093; font-size:12px}
#cx2 ul{position:absolute; left:0}
#cx2 li{ display:inline-block; margin-left:20px; font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif}
#cx2 p { margin-top:10px}
#an1{ position:absolute; top:100px;  z-index:1; left:-30px}
#an2{ position:absolute; z-index:1; top:100px; left:990px; margin-right:10px}
.smde{ height:32px; background:#ececec}
.smde p{ margin-left:1060px; font-size:12px; padding-top:10px}
.smde a{ margin-left:1180px;font-size:12px; position:absolute; top:10px}
.zuixin{ margin: 0 auto; width:1200px; position:relative; margin-top:-50px; margin-bottom:20px; height:90px}
.zuixin p {position: absolute;left: 565px;z-index: 1;font-size: 17px;top: 65px;color:#333333 }
.zuixin a{position: absolute;left:460px;top:2 }
.sousuo1{ margin-right:5px; margin-left:20px}
.sousuo2{ background:url(image/cccc.gif); width:28px; height:25px}
.zixun{ width:1178px; height:600px; margin:0 auto;  }
.zixun li{ display:inline-block; margin-left:20px; height:170px}
.zixun1{ display:inline-block; width:300px; vertical-align:top; color:#333333; margin:0 auto}
.zixun1 P{ margin-top:10px;font-size:14px; line-height:25px; margin-left:10px}
.zixun a{ margin-left:240px;font-size:12px}
.zixun1 a:hover{ color:#F00}
.zixun h2{ font-size:20px; margin-left:20px}
.zuixin2{ margin: 0 auto; width:1200px; position:relative; margin-top:50px;  height:100px}
.zuixin2 p {position: absolute;left: 565px;z-index: 1;font-size: 17px;top: 65px;color:#093 }
.zuixin2 a{position: absolute;left:460px;top:2 }

.aiche{ width:1178px; height:469px; margin:0 auto; position:relative; color:#333333; margin-top:20px}
.aiche li{ display:inline-block; vertical-align:top; margin-left:10px; }
.aiche h2{ position:absolute; top:300px; font-size:20px; margin-left:10px; }
.aiche p{ position:absolute; top:380px;margin-left:10px; font-size:12px}
.zuihuo1{ background:#333333
;  margin-top:70px; height:276px; position:relative}
.zuihuo1 li{ display:inline-block; vertical-align:top; color:#FFF; margin-left:55px}
.zuihuo1 ul{ width:625px;}
.zuihuo1 h2{ font-size:18px; position:absolute; top:30px}
.zuihuo1 p{ font-size:14px; margin-top:85px; line-height:25px}
.zzz{ position:absolute; top:33px; left:1023px}
.dianhua{ position:absolute; top:33px; left:625px; z-index:1}
.zh2{ height:54px ; background:#000; color:#FFF; }
.zh2 li{ display:inline-block; margin-left:44px;font-size:14px; margin-top:23px}
.zh2 p{ font-size:14px; display:inline-block; margin-left:930px; margin-top:-27px}
